<!-- edit-post -->
<div class="col">
  <div class="card m-2">
    <div class="card-header post-bg">
      <div class="action-txt">Edit Post</div>
    </div>
    <div class="card-body body-bg">
      <form class="form edit-post-form">
        <div class="form-group mb-3">
          <label for="edit-post-title" class="form-label">Title</label>
          <textarea class="form-control" id="edit-post-title" rows="1">{{title}}</textarea>
        </div>
        <div class="form-group mb-3">
          <label for="edit-post-content" class="form-label">Content</label>
          <textarea class="form-control" id="edit-post-content" rows="5">{{content}}</textarea>
        </div>
        <div class="form-group mb-3">
          <button class="btn btn-bg btn-txt" type="submit" id="update-post-btn">Update</button>
          <button class="btn btn-bg btn-txt" type="submit" id="delete-post-btn">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/update-post.js"></script>
<script src="/js/delete-post.js"></script>