/* header properties */
.header-txt {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 8px 0;
    padding: 0;
  }    
  
  .header-bg {
    background-color: #ea698b;
  }  
  
  /* post properties */
  .post-header {
    display: flex;
    justify-content: space-between;
  }    
  
  .post-title-txt {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
  }    
  
  .post-user-txt {
    color: #ffffff;
    padding: 5px 0;
  }  
  
  .post-bg {
    background-color: #c05299;
  }
  
  /* comment properties */
  .comment-txt {
    margin-bottom: 5px;
  }    
  
  .source-txt {
    margin: 0;
  }    
  
  .comment-bg {
    background-color: #573aa8;
  }
  
  /* action properties */
  .action-txt {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
  }            
  
  /* button properties */
  .btn-txt {
    color: #ffffff;
    font-weight: 500;
  }      
  
  .btn-bg {
    background-color: #1155ad;
  }
  
  .btn-bg:hover {
    background-color: #47126b;
    color: #ffffff;
  }
  
  /* other */
  .body-bg {
    background-color: #736f6f;
  }
  
  .nav-link,
  .nav-link:link,
  .nav-link:visited,
  .nav-link:hover,
  .nav-link:active,
  .post-link,
  .post-link:link,
  .post-link:visited,
  .post-link:hover,
  .post-link:active {
    color: hsl(0, 0%, 38%);
    text-decoration: none;
  }